{% extends 'base.html' %}{% from 'bootstrap5/pagination.html' import
render_pager %} {% block content %}
<div class="d-flex gap-3">
  <img width="196" src="{{ user.avatar(128) }}" alt="avatar" />
  <div>
    <h3>{{ user.username }}</h3>
    <p>{{ user.name }}</p>
    <p>{{ user.bio }}</p>
    {% if current_user == user %}
    <a href="{{ url_for('user.profile') }}" class="btn btn-primary"
      >Edit Profile</a
    >
  </div>
</div>
{% endif %} {% if talks.items | length %}
<div>{% include "talk/_talks.html" %}{{ render_pager(talks) }}</div>
{% else %}
<p>There is nothing here.</p>
{% endif %} {% endblock %}
